.container{
    margin-bottom: 40px;
}


.carousel-item {
    padding: 40px;
}


#category{
    margin-bottom: 20px;
}
.im{
    text-align: center;
}
.see{
  color: rgb(255, 196, 0);
  text-align: right;
}
.see-all{
    color: rgb(255, 196, 0);
    text-align: right;
    padding: ;
}

.card{
    border: none;
    border-radius: 7px;
    box-shadow: 5px 5px 15px lightgray;
}

.buy-button{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 7px
}

.card{
    border: none;
    border-radius: 7px;
    box-shadow: 5px 5px 15px lightgray;
    text-align: center;
}
.cata{
    text-align: center;
}

.img{
   text-align: center;
}


.bg-text-center{
    border: none;
    border-radius:2px;
    box-shadow: 5px 5px 15px lightgrey;
    width:250px;
    text-align: center;
    float: left;
    margin-left:10%;
    padding-left:15%;
    padding: 40px;
    margin-top:20px;
}
.bg:hover{
    background: #fff;
    box-shadow: 5px  lightgrey;
}